<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009704298581-31stfq8kp6d92cdp9elant6qunrde746.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009704298581-31stfq8kp6d92cdp9elant6qunrde746</string>
	<key>API_KEY</key>
	<string>AIzaSyBm9mwwyfLR3xUnekCZWMQsu0-m4S-OssM</string>
	<key>GCM_SENDER_ID</key>
	<string>1009704298581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vt.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-vt</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-vt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009704298581:ios:b0f1cbb97d0e4e10874cdc</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-vt.firebaseio.com</string>
</dict>
</plist>